.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: gray;
}

.widget-header {

    display: flex;
}

.widget-header a {
    color: black;
}

.logo {
    font-family: Valintina, sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    text-decoration: none;
    color: black;
}