.box-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 370px;
    padding: 10px;
    box-shadow: 0.5px 0px 5px 2px gray;
    margin: 10px;
    border-radius: 10px;
}

.box-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.img-card {
    max-width: 100%;
    max-height: 100%;
}

.link-card {
    color: black;

}

.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box-info h3,
.box-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-family: 'Corinthia', cursive;
    font-weight: normal;
}

.box-info div span {
    font-size: 22px
}