.bar,
#basic-button {
    display: flex;
    list-style: none;
    font-size: 1rem;
    align-items: center;
    padding: 0;
    height: 20px;
    font-size: large;


}

#basic-button:hover {
    background-color: transparent;

}

.bar li {
    padding: 10px;
    margin: 5px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;



}

.bar .li-navBar:hover {
    border-bottom: 2px solid #363637;
    cursor: pointer;
}

.buscador {
    width: 1.5rem;
    border-radius: 25px;



}

.buscador:hover {

    box-shadow: 0.5px 0px 5px 2px #363637;
    cursor: pointer;
    background-color: rgb(173, 173, 174);
    transition: .3s;

}