.bar,
#basic-button {
    display: flex;
    list-style: none;
    font-size: 1rem;
    align-items: center;

}

.bar li {
    padding: 5px;
    margin: 5px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;



}

.bar li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.buscador {
    width: 1.5rem;



}

.buscador:hover {
    border: 1px solid black;
    border-radius: 17px;
}